.body {
    background-color: #d3d3e7;
    margin-top: 1rem;
}

table {
    width: 800px;
    border-collapse: collapse;
    color: #0a0c0d;
}

td {
    border: 2px solid #0a0c0d;
    padding: 5px;
    text-align: center;
}

th {
    border: 2px solid #0a0c0d;
    padding: 5px;
    text-align: center;
    background: #0a0c0d;
    color: #f2f2f2;
}

button {
    background-color: #d3d3e7;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: ease 0.5s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2);
}

img {
    width: 1.5rem;
}